# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

# contentlayer
.contentlayer

# next.js
next-env.d.ts

# apps/web
apps/web/.env.sentry-build-plugin
apps/web/*.xml
apps/web/.tanstack/

# apps/admin
apps/admin/.tanstack/

*storybook.log
storybook-static

# ignore all md files, except README.md
*.md
!README.md

infra/.vault_pass
apps/admin/src/routeTree.gen.ts
apps/web/src/routeTree.gen.ts

.kiro
.codex
